# Data Processing

## Imports

In [46]:
import pandas as pd
import numpy as np

## Read the CSV file

In [47]:
data = pd.read_csv('../resources/Test-data-analyst-soleadify.csv', delimiter=',')
data.head()

,Source 1 - full address,Source 1 - phone number,Source 1 - Region,Source 1 - City,Source 1 - Country,Source 3 - Website,Source 3 - Activity,Source 2 - Activity,Source 2 - Website,Source 2 - Country,...,Source 2 - Phone,Source 3 - Country,Source 3 - Region,Source 3 - City,Source 3 - Phone,Source 4 - Activity,Unnamed: 18,Source 5 - Activity,Unnamed: 20,Source 6 - Activity
0,32 BLUE SPRINGS RD NORTH YORK ON M6L2T3 CA,4168582406,on,north york,canada,safeelectricalsolutions.ca,Electrical & Wiring Contractors,Energy - Equipment & Supplies,safeelectricalsolutions.ca,NaN,...,19057859000,canada,ontario,scarborough,1.416237e+10,Electrical & Wiring Contractors,NaN,NaN,NaN,Electric utility company
1,ON CA,0,on,NaN,canada,auto-master.com,NaN,NaN,NaN,NaN,...,NaN,united states,texas,houston,1.855993e+10,NaN,NaN,NaN,NaN,NaN
2,ON CA,0,on,NaN,canada,NaN,Bakeries & Desserts,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Vintage Clothing Store,NaN,Bakeries & Desserts,NaN,NaN
3,2000 TALBOT RD WINDSOR ON N9A6S4 CA,0,on,windsor,canada,stclaircollege.ca,NaN,NaN,stclaircollege.ca,canada,...,"+15199722727,+15199722739,+15199661656",canada,ontario,windsor,1.519972e+10,NaN,NaN,NaN,NaN,NaN
4,5117 52 ST WABAMUN AB T0E2K0 CA,9059653927,ab,wabamun,canada,NaN,Oil & Gas - Extraction & Distribution,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Check data

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34706 entries, 0 to 34705
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Source 1 - full address  34705 non-null  object
 1   Source 1 - phone number  34706 non-null  int64
 2   Source 1 - Region        30717 non-null  object
 3   Source 1 - City          30284 non-null  object
 4   Source 1 - Country       34706 non-null  object
 5   Source 3 - Website       29169 non-null  object
 6   Source 3 - Activity      29287 non-null  object
 7   Source 2 - Activity      16320 non-null  object
 8   Source 2 - Website       18986 non-null  object
 9   Source 2 - Country       15564 non-null  object
 10  Source 2 - Region        15564 non-null  object
 11  Source 2 - City          15564 non-null  object
 12  Source 2 - Phone         18433 non-null  object
 13  Source 3 - Country       22952 non-null  object
 14  Source 3 - Region        21046 non-null  object
 15  Source 3 - City          21048 non-null  object
 16  Source 3 - Phone         23773 non-null  float64
 17  Source 4 - Activity      17095 non-null  object
 18  Unnamed: 18              0 non-null      float64
 19  Source 5 - Activity      15251 non-null  object
 20  Unnamed: 20              0 non-null      float64
 21  Source 6 - Activity      17324 non-null  object
dtypes: float64(3), int64(1), object(18)
memory usage: 5.8+ MB

### Remove unnecessary data 

Two columns seem to have no name, and after checking the CSV files it seems that they are empty columns so we can safely remove them.

In [49]:
data.drop(['Unnamed: 18', 'Unnamed: 20'], axis=1, inplace=True)

### Check the URLs

The most important values from this df are the URLs. I will check which column has the least amount of missing data. In the case that there is no values in the column with the most URLs we will replace the value with the one from the other column. If there is missing data in both the columns, I will romeve the row.

In [50]:
print(data['Source 2 - Website'].isnull().sum())
print(data['Source 3 - Website'].isnull().sum())

15720
5537

#### Remove the rows where both the URLs are missing

In [51]:
data.dropna(subset=['Source 2 - Website', 'Source 3 - Website'], how='all', inplace=True)

print(data['Source 2 - Website'].isnull().sum())
print(data['Source 3 - Website'].isnull().sum())

10451
268

#### If the value of the Source 3 is null, replace it with the data from the Source 2

In [52]:
data['Source 3 - Website'].fillna(data['Source 2 - Website'], inplace=True)
print(data['Source 3 - Website'].isnull().sum())

data.drop(['Source 2 - Website'], axis=1, inplace=True) # drop column Source 2 - Website column since it's no longer needed

0

C:\Users\bogda\AppData\Local\Temp\ipykernel_41296\981115767.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Source 3 - Website'].fillna(data['Source 2 - Website'], inplace=True)

### Repeat for the phone numbers

In [53]:
print('Source 1 null phone numbers: ', data['Source 1 - phone number'].isnull().sum())
print('Source 2 null phone numbers: ',data['Source 2 - Phone'].isnull().sum())
print('Source 3 null phone numbers: ',data['Source 3 - Phone'].isnull().sum())

Source 1 null phone numbers:  0
Source 2 null phone numbers:  11004
Source 3 null phone numbers:  5664

The 'Source 1 - phone number' column has missing values, but they are represented by '0' instead of 'NaN'. So we will replace the 0 values to get a more accurate view.

In [54]:
data['Source 1 - phone number'] = data['Source 1 - phone number'].replace(0, np.nan)

In [55]:
print('Source 1 null phone numbers: ', data['Source 1 - phone number'].isnull().sum())
print('Source 2 null phone numbers: ',data['Source 2 - Phone'].isnull().sum())
print('Source 3 null phone numbers: ',data['Source 3 - Phone'].isnull().sum())

Source 1 null phone numbers:  17840
Source 2 null phone numbers:  11004
Source 3 null phone numbers:  5664

Because the phone number is not as important of a entity as the URL, I will not remove the columns that have all missing values, but I will combine the 3 to get a more complete output.

In [56]:
data['Source 3 - Phone'].fillna(data['Source 2 - Phone'], inplace=True) 
print(data['Source 3 - Phone'].isnull().sum())

3224

C:\Users\bogda\AppData\Local\Temp\ipykernel_41296\1870078567.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Source 3 - Phone'].fillna(data['Source 2 - Phone'], inplace=True)
C:\Users\bogda\AppData\Local\Temp\ipykernel_41296\1870078567.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[nan '+16473512222,+14166440157' nan ... nan '16475886277' '15149278042']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data['Source 3 - Phone'].fillna(data['Source 2 - Phone'], inplace=True)

In [57]:
data['Source 3 - Phone'].fillna(data['Source 1 - phone number'], inplace=True) 
print(data['Source 3 - Phone'].isnull().sum())

1941

In [58]:
data.drop(['Source 1 - phone number', 'Source 2 - Phone'], axis=1, inplace=True) # drop column Source 1 - phone number and Source 2 - Phone since it's no longer needed

### Repeat for the Business Activity

In [59]:
print('Source 2 null activities: ', data['Source 2 - Activity'].isnull().sum())
print('Source 3 null activities: ',data['Source 3 - Activity'].isnull().sum())
print('Source 4 null activities: ',data['Source 4 - Activity'].isnull().sum())
print('Source 5 null activities: ',data['Source 5 - Activity'].isnull().sum())
print('Source 6 null activities: ',data['Source 6 - Activity'].isnull().sum())

Source 2 null activities:  13117
Source 3 null activities:  5170
Source 4 null activities:  14171
Source 5 null activities:  16018
Source 6 null activities:  12113

In [60]:
data['Source 3 - Activity'].fillna(data['Source 6 - Activity'], inplace=True) 
print(data['Source 3 - Activity'].isnull().sum())

3267

C:\Users\bogda\AppData\Local\Temp\ipykernel_41296\4056033709.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Source 3 - Activity'].fillna(data['Source 6 - Activity'], inplace=True)

In [61]:
data['Source 3 - Activity'].fillna(data['Source 2 - Activity'], inplace=True) 
print(data['Source 3 - Activity'].isnull().sum())

3267

In [62]:
data['Source 3 - Activity'].fillna(data['Source 4 - Activity'], inplace=True) 
print(data['Source 3 - Activity'].isnull().sum())

2831

In [63]:
data['Source 3 - Activity'].fillna(data['Source 5 - Activity'], inplace=True) 
print(data['Source 3 - Activity'].isnull().sum())

2819

In [64]:
data.drop(['Source 2 - Activity', 'Source 4 - Activity', 
           'Source 5 - Activity', 'Source 6 - Activity'], axis=1, inplace=True) # drop column Source 2 - Activity, Source 4 - Activity, Source 5 - Activity, Source 6 - Activity since it's no longer needed

### Location

Starting off by dropping the Source 2 location columns since they have either missing, or repeating data that can be found in the Source 1 column.

Also dropping the Source 1 separate columns and keeping the full address.

In [66]:
data.drop(['Source 2 - City', 'Source 2 - Region', 'Source 2 - Country', 
           'Source 1 - City', 'Source 1 - Region', 'Source 1 - Country'], axis=1, inplace=True)

In [67]:
data.head()

,Source 1 - full address,Source 3 - Website,Source 3 - Activity,Source 3 - Country,Source 3 - Region,Source 3 - City,Source 3 - Phone
0,32 BLUE SPRINGS RD NORTH YORK ON M6L2T3 CA,safeelectricalsolutions.ca,Electrical & Wiring Contractors,canada,ontario,scarborough,14162367100.0
1,ON CA,auto-master.com,NaN,united states,texas,houston,18559929913.0
3,2000 TALBOT RD WINDSOR ON N9A6S4 CA,stclaircollege.ca,NaN,canada,ontario,windsor,15199722727.0
5,847 DES ORMES LÃ‰VIS QC G7A4A7 CA,primusconstruction.ca,NaN,NaN,NaN,NaN,4184555425.0
6,A-6 WESTWOOD DR DARTMOUTH NS B2X1Y4 CA,allgreentreecare.com,Tree Services,canada,nova scotia,halifax,19024447336.0

In [69]:
print(data['Source 1 - full address'].isnull().sum())

1

All the locations from the first source are based in Canada, while by looking at the source 3 country column it seems that it has multiple countries. After checking some of the website URLs it seems that it coresponds with the Canadian location so we will mostly use the Source 1 information. But, the first source seems to have a missing value, so I will combine the Source 3 location info and replace the missing value with it.

In [71]:
data['Source 3 - full address'] = data['Source 3 - City'] + ', ' + data['Source 3 - Region'] + ', ' + data['Source 3 - Country']

In [72]:
data['Source 1 - full address'].fillna(data['Source 3 - full address'], inplace=True)

In [73]:
data.drop(['Source 3 - City', 'Source 3 - Region', 'Source 3 - Country', 'Source 3 - full address'], axis=1, inplace=True)

## Rename the columns

In [75]:
data.rename(columns={'Source 1 - full address': 'Location', 
                     'Source 3 - Website': 'Website', 
                     'Source 3 - Activity': 'Business Activity',
                     'Source 3 - Phone': 'Phone Number'}, 
                     inplace=True)

In [76]:
data.head()

,Location,Website,Business Activity,Phone Number
0,32 BLUE SPRINGS RD NORTH YORK ON M6L2T3 CA,safeelectricalsolutions.ca,Electrical & Wiring Contractors,14162367100.0
1,ON CA,auto-master.com,NaN,18559929913.0
3,2000 TALBOT RD WINDSOR ON N9A6S4 CA,stclaircollege.ca,NaN,15199722727.0
5,847 DES ORMES LÃ‰VIS QC G7A4A7 CA,primusconstruction.ca,NaN,4184555425.0
6,A-6 WESTWOOD DR DARTMOUTH NS B2X1Y4 CA,allgreentreecare.com,Tree Services,19024447336.0

## Save as CSV

Lastly, save the clean data into a new CSV file.

In [77]:
data.to_csv('../resources/cleaned_data.csv', index=False)